AlcoholCalculator/cocktails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cocktails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cocktail">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="cocktail-name"/>
              <xs:element type="xs:string" name="comment"/>
              <xs:element name="drink-comp" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="drink">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="drink-name"/>
                          <xs:element type="xs:byte" name="perc"/>
                          <xs:element type="xs:string" name="drink-comment"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="amount"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>